@page
@model territory.mobi.Pages.mapModel

@{
    Layout = "./Shared/_Publayout";
    ViewData["Title"] = "territory.mobi";
    ViewData["LeftTitle"] = Model.Map.MapDesc;
    ViewData["RightTitle"] = Model.Map.MapArea;
}

<div>
    <form method="post">
        <div class="imagediv">
            @if (Model.Image.ImgImage == null)
            {
                <img id="mappic" class="MapImg" src="@Model.Image.ImgPath" alt="@Model.Image.ImgText" />
            }
            else
            {
                <img id="mappic" class="MapImg" src="data:image;base64,@System.Convert.ToBase64String(Model.Image.ImgImage)" alt="@Model.Image.ImgText" />
            }

        </div>
        <div class="footer">
            <a class="footlink" asp-page="./Directory" asp-route-CongName="@Model.Cong.CongName">
                <img class="MapMenuIcon" src="~/images/assets/TOC1.png" />
            </a>
            @if (Model.Map.Parking != "")
            {
                <a id="parking" class="footlink" href="#">
                    <img class="MapMenuIcon" src="~/images/assets/Parking.png" />
                </a>

            }
            @if (Model.Map.Notes != "")
            {
                <a id="notes" class="footlink" href="#">
                    <img class="MapMenuIcon" src="~/images/assets/Notes.png" />
                </a>
            }
            @if (Model.DNC.Count() > 0)
            {
                <div class="footlink" id="dnc">
                    <img class="MapMenuIcon" src="~/images/assets/DNC.png" />
                </div>
            }
        </div>
    </form>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
                $(document).ready(function () {
                    $("#parking").click(function () {
                    bootbox.dialog({
                        title: "<h2>Parking</h2>",
                        message: "@Model.Map.Parking",
                        onEscape: true,
                        backdrop: true,
                        centerVertical: true,
                        scrollable: true
                        });
                    });

                    $("#notes").click(function () {
                    bootbox.dialog({
                        title: "<h2>Notes</h2>",
                        message: "@Model.Map.Notes",
                        onEscape: true,
                        backdrop: true
                        });
                    });
                });
    </script>
}
