<!DOCTYPE html>
>
<html>
<head>
    <!--
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="shortcut icon" href="~/images/assets/apple-touch-icon.png">
    -->
</head>
<body>
    <!--
    <div id="navy" class="navbar bg-primary setwidth-100 fixed-top mb-5">
        <div class="h2 text-white">@ViewData["LeftTitle"]</div>
        <div class="h2 text-white">@ViewData["RightTitle"]</div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div id="bdy" class="container align-content-center align-middle w-100 bdy">
       -->
    @RenderBody()
    <!--
        </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/bootbox/bootbox.js"></script>
    <script src="~/js/sha.js"></script>
    <script src="~/js/js.cookie.js"></script>
                -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
