@page
@model territory.mobi.Pages.Admin.Users.Roles.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>AspNetUserRoles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserRoles.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserRoles.Role.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUserRoles.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AspNetUserRoles.User.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
