@page
@model territory.mobi.Pages.Admin.Congregation.Maps.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete map @Model.Map.MapKey ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapArea)
        </dd>
    </dl>
    Note: all do not calls, images and other associated data with this map will be removed as well.
    <form method="post">
        <input type="hidden" asp-for="Map.MapId" />
        <input type="submit" value="Delete" class="btn btn-default bg-danger text-white" /> |
        <a asp-page="/Admin/Congregation/Edit" asp-route-id="@Model.Map.CongId">Back to Congregation</a>
    </form>
</div>
