@page
@model territory.mobi.Pages.Admin.Congregation.DoNotCalls.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].MapId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].DateValidated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].StreetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].AptNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].Suburb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoNotCall[0].UpdateDatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DoNotCall) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateValidated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suburb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDatetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DncId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DncId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DncId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
