@page
@model territory.mobi.Pages.MapModel

@{
    Layout = "./Shared/_Publayout";
    ViewData["Title"] = "territory.mobi";
    ViewData["LeftTitle"] = Model.Map.MapDesc;
    ViewData["RightTitle"] = Model.Map.MapArea;
}

<div id="imgDiv">

    @if (Model.Image.ImgImage == null)
    {
        <img id="mappic" class="img-fluid align-self-center align-middle w-100 h-100" src="@Model.Image.ImgPath" alt="@Model.Image.ImgText" />
    }
    else
    {
        <img id="mappic" class="img-fluid align-self-center align-middle w-100 h-100" src="data:image;base64,@System.Convert.ToBase64String(Model.Image.ImgImage)" alt="@Model.Image.ImgText" />
    }

</div>
<div class="d-inline-flex fixed-bottom bg-primary justify-content-center setwidth-100">
    <a class="footer-link align-self-center m-1" asp-page="./Directory" asp-route-CongName="@Model.Cong.CongName">
        <img class="MapMenuIcon" src="~/images/assets/TOC1.png" />
    </a>
    @if (Model.ShowMap)
    {
        <a id="googMap" class="footer-link align-self-center m-1" asp-page="./Mapg" asp-route-CongName="@Model.Cong.CongName" asp-route-MapNo="@Model.Map.MapKey">
            <img class="MapMenuIcon" src="~/images/assets/Navigation.png" />
        </a>
    }
    @if (Model.Map.Parking != "")
    {
        <a id="parking" class="footer-link align-self-center m-1" href="#">
            <img class="MapMenuIcon" src="~/images/assets/Parking.png" />
        </a>

    }
    @if (Model.Map.Notes != "")
    {
        <a id="notes" class="footer-link align-self-center m-1" href="#">
            <img class="MapMenuIcon" src="~/images/assets/Notes.png" />
        </a>
    }
    @if (Model.DNC.Count() > 0)
    {
        <div class="footer-link align-self-center m-1" id="dnc" href="#">
            <img class="MapMenuIcon" src="~/images/assets/DNC.png" />
        </div>
    }
</div>
<form id="pwrdInput" method="post" class="invisible">
    <div>Enter In your Password</div>
</form>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
            $(document).ready(function () {

                $("#parking").click(function () {
                    bootbox.dialog({
                    title: "<h3>Parking</h3>",
                        message: "@Model.Map.Parking",
                        onEscape: true,
                        backdrop: true,
                        centerVertical: true,
                        scrollable: true
                                });
                    });

                $("#notes").click(function () {
                    bootbox.dialog({
                    title: "<h3>Notes</h3>",
                        message: "@Model.Map.Notes",
                        onEscape: true,
                        backdrop: true,
                        centerVertical: true,
                        scrollable: true
                                });
                    });

                $("#dnc").click(function () {
                    var pass = "";
                    pass = Cookies.get("territory.mobi.dnclogin");
                    console.log(pass);
                    if (typeof pass === 'undefined') {
                        bootbox.prompt({
                            title: "<h3>Enter password</h3>",
                            inputType: "password",
                            onEscape: true,
                            backdrop: true,
                            centerVertical: true,
                            scrollable: true,
                            callback: function (result) {
                                if (result != null) { checkpassword(sha1(result)) };
                            }
                        });
                    } else {
                        checkpassword(pass);
                    };

                });
            });
                    function checkpassword(pass) {
            $.ajax({
                url: '/Map?handler=PwdCheck',
                data: {
                    pwd: pass,
                    congId: "@Model.Cong.CongId",
                    mapId: "@Model.Map.MapId"}
                })
                .done(function (result) {
                    console.log(result);
                    if (result == "false") {
                        Cookies.remove("territory.mobi.dnclogin");
                        bootbox.dialog({
                            title: "<h3>Do Not Calls</h3>",
                            message: "Password incorrect",
                            onEscape: true,
                            backdrop: true,
                            centerVertical: true,
                            scrollable: true
                        });
                    } else {
                        Cookies.set("territory.mobi.dnclogin", pass,1);
                        bootbox.dialog({
                            title: "<h3>Do Not Calls</h3>",
                            message: result,
                            onEscape: true,
                            backdrop: true,
                            centerVertical: true,
                            scrollable: true
                            });
                    }
                })
            };

    </script>
}
