@page
@model territory.mobi.Pages.Admin.Congregation.Navigation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tmPage[0].CongId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tmPage[0].PageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tmPage[0].PageTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tmPage[0].PageParent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tmPage[0].UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tmPage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageParent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PageId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PageId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
