@page
@model territory.mobi.Pages.Admin.Congregation.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Congregation Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cong.CongId" />
            <div class="form-group">
                <label asp-for="Cong.CongName" class="control-label"></label>
                <input asp-for="Cong.CongName" class="form-control" />
                <span asp-validation-for="Cong.CongName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.ServId" class="control-label"></label>
                <input asp-for="Cong.ServId" class="form-control" />
                <span asp-validation-for="Cong.ServId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cong.UpdateDatetime" class="control-label"></label>
                <input asp-for="Cong.UpdateDatetime" class="form-control" />
                <span asp-validation-for="Cong.UpdateDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <h4>Assigned Users</h4>
    <div>
        @foreach (var item in Model.CongUsers)
        {
            <label>@item.User.Name @item.User.Surname - @item.Role.Name</label> 
            <a asp-page="/Admin/Users/DeleteCong" asp-route-id="@item.User.Id" asp-route-claimid="@item.Claims.Id" asp-route-returl="Congregation" asp-route-cong="@Request.Query["id"]">Remove</a>
        }
    </div>
</div>



<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
