@page
@model territory.mobi.Pages.DirectoryModel

@{
    Layout = "./Shared/_Publayout";
    ViewData["Title"] = "territory.mobi";
    ViewData["LeftTitle"] = Model.Cong.CongName;
}


<div id="dirItems" class="text-center p-2" >
    @foreach (var item in Model.Map.OrderBy(x => x.SortOrder))
    {
        <a class="btn btn-primary btn-med dir-btn mb-1 h4" asp-page="./Map" asp-route-CongName="@Model.Cong.CongName" asp-route-MapNo="@item.MapKey"><h4 class="text-white">@Html.DisplayFor(modelItem => item.MapKey)</h4></a>
    }
    @foreach (var sec in Model.Section.OrderBy(x => x.SortOrder))
    {
        if (sec.Maps.Count > 0) { 
        <div class="sec-head mb-3">
            <div class="d-flex text-center bg-primary dir-sec mb-1 w-100"><h3 class="text-white text-center">@Html.DisplayFor(modelItem => sec.SectionTitle)</h3></div>
           
                @foreach (var map in sec.Maps.OrderBy(x => x.SortOrder))
                {
                    <a class="btn btn-primary btn-med dir-btn mb-1 h4" asp-page="./Map" asp-route-CongName="@Model.Cong.CongName" asp-route-MapNo="@map.MapKey"><h4 class="text-white text-center align-middle">@Html.DisplayFor(modelItem => map.MapKey)</h4></a>
                }
        </div>
        }
    }
</div>
<div>
<hr />
    <a class="ml-4" asp-page="./Index">Congregations</a>
</div>
