@page
@model territory.mobi.Pages.Admin.Congregation.Maps.Image.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].ImgText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].ImgPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].ImgImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].MapId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images[0].Updatedatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Images) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImgText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updatedatetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ImgId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ImgId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ImgId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
