@page
@model territory.mobi.Pages.Admin.Congregation.Maps.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Map.CongId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.CongId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapPolygon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapPolygon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.MapType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.MapType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.ImgId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.ImgId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.GoogleRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.GoogleRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.Parking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.Parking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.ParentPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.ParentPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.SortOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Map.UpdateDatetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Map.UpdateDatetime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Map.MapId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
