@page
@model territory.mobi.Pages.Admin.Congregation.Maps.Image.IndexModel

@{
    ViewData["Title"] = "Previous Images";
}

<h2>Images for @ViewData["MapNo"]</h2>

<h3>Current Image</h3>

@if (Model.CurrentImage.ImgImage == null)
{
    <img id="mappic" class="img-fluid w-50" src="@Model.CurrentImage.ImgPath" alt="@Model.CurrentImage.ImgText" />
}
else
{
    <img id="mappic" class="img-fluid w-50" src="data:image;base64,@System.Convert.ToBase64String(Model.CurrentImage.ImgImage)" alt="@Model.CurrentImage.ImgText" />
}
<br />
<b>Date Uploaded: </b>
<script> 
    @{DateTime? dt = Model.CurrentImage.Updatedatetime;}
    var m = moment('@dt.Value.ToString("yyyy-MM-dd hh:mm:ss") UTC');;
    document.write(m.format('LLL'));
</script>
<hr />
<h3>Previous Images</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Date Uploaded
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Images.Count == 0)
        {
            <tr>
                <td>
                    <label>No previous images</label>
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.Images)
            {
                <tr>
                    <td>
                        @if (item.ImgImage == null)
                        {
                            <img id="mappic" class="img-fluid w-50" src="@item.ImgPath" alt="@item.ImgText" />
                        }
                        else
                        {
                            <img id="mappic" class="img-fluid w-50" src="data:image;base64,@System.Convert.ToBase64String(item.ImgImage)" alt="@item.ImgText" />
                        }
                    </td>
                    <td>
                        <div class="w-25">
                            <script type="text/javascript">
                            var m = moment('@item.Updatedatetime.Value.ToString("yyyy-MM-dd hh:mm:ss") UTC');;
                            document.write(m.format('ll')+ " "+m.format('LTS') );
                            </script>
                        </div>
                    </td>
                    <td>
                        <div class="w-25">
                            <form method="post">
                                <button class="btn btn-default" asp-route-mapid="@Model.CurrentImage.MapId" asp-route-ImgId="@item.ImgId">Replace Current</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-page="/Admin/Congregation/Maps/Edit" asp-route-id="@Model.CurrentImage.MapId">Back to Map</a>
</div>
