@page
@model territory.mobi.Pages.Admin.Congregation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cong[0].CongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cong[0].ServId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cong[0].PageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cong[0].UpdateDatetime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cong) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDatetime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CongId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CongId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
